version: '3.8'

services:
  backend:
    build: ./backend
    container_name: mkr_backend
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SECRET_KEY: ${SECRET_KEY}
    network_mode: host  # Чтобы мог подключиться к localhost PostgreSQL
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: mkr_frontend
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    depends_on:
      - backend
    ports:
      - "3000:3000"
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: mkr_nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
      - frontend
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped